{{ partial:components/section/hero-section
heading="Criztian"
subtitle="Bring brands to life through creative web solutions"
show_recent_project="true"
}}

<section id="projects-section" class="bg-white p-4">
    <div class="h-[500px] flex gap-8">
        <div class="project-item relative flex-1 overflow-hidden cursor-pointer">
            <div class="border w-full h-full rounded-md"></div>
            <h2 class="project-title absolute bottom-4 left-4 text-lg pointer-events-none">Project Title</h2>
        </div>
        <div class="project-item relative flex-[2] overflow-hidden cursor-pointer">
            <div class="border w-full h-full rounded-md"></div>
            <h2 class="project-title absolute bottom-4 left-4 text-lg pointer-events-none">Project Title</h2>
        </div>
        <div class="project-item relative flex-1 overflow-hidden cursor-pointer">
            <div class="border w-full h-full rounded-md"></div>
            <h2 class="project-title absolute bottom-4 left-4 text-lg pointer-events-none">Project Title</h2>
        </div>
    </div>
</section>

<section id="content-section" class="h-screen bg-white justify-center items-center flex flex-col gap-16">
    <p id="content-intro"
        class="text-[64px] leading-18 text-center font-base px-[150px] font-medium flex gap-2 flex-wrap justify-center ">
        We help businesses to innovate and remain highly relevant to their customers by developing edge digital products
    </p>

    <div id="content-challenge" class="max-w-[500px] flex flex-col gap-4 ml-[700px] ">
        <h2 class="challenge-heading text-2xl font-semibold flex gap-1">The Challenge</h2>
        <p class="challenge-text flex gap-1 justify-start flex-wrap">
            There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration</p>
    </div>
</section>


<section class="w-full h-[600px] border"></section>

<section id="recognition-section" class="flex flex-col gap-4 bg-white justify-center items-center h-screen">
    <span id="recognition-title" class="text-2xl">Our Recognitions</span>
    <div id="recognition-text-container" class="flex flex-col items-center text-center">
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">Over the past</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">decades</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">we have been</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">honored to</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">receive all these</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">awards</span>
    </div>
</section>

<section class="mb-32">
    <div class="flex justify-between items-center px-8 py-6 border-t border-b">
        <span>Awwards</span>
        <span>Developer Award, Site of the Day, Honorable Mention</span>
        <span>x08 Award</span>
    </div>

    <div class="flex justify-between items-center px-8 py-6  border-b">
        <span>Awwards</span>
        <span>Developer Award, Site of the Day, Honorable Mention</span>
        <span>x08 Award</span>
    </div>

    <div class="flex justify-between items-center px-8 py-6  border-b">
        <span>Awwards</span>
        <span>Developer Award, Site of the Day, Honorable Mention</span>
        <span>x08 Award</span>
    </div>
    <div class="flex justify-between items-center px-8 py-6  border-b">
        <span>Awwards</span>
        <span>Developer Award, Site of the Day, Honorable Mention</span>
        <span>x08 Award</span>
    </div>
    <div class="flex justify-between items-center px-8 py-6  border-b">
        <span>Awwards</span>
        <span>Developer Award, Site of the Day, Honorable Mention</span>
        <span>x08 Award</span>
    </div>
</section>

<section id="services-section" class="flex flex-col gap-4 bg-white justify-center items-center h-screen">
    <span class="text-2xl">You need it ? I do it</span>
    <div class="flex flex-col items-center text-center gap-4">
        <span class="service-line text-[84px] leading-[1.2] font-medium">Web Design</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium">Web Apps</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium">Mobile Apps</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium">Desktop Apps</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium">Games 2D/3D</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium">NFT</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium">DeFi</span>
        <span class="service-line text-[42px] leading-[1.2] font-medium">You name it</span>
    </div>
</section>

<section class="h-screen justify-center items-center flex bg-white flex-col">
    <div class="flex justify-center items-center flex-col gap-4 gsap-fade-in">
        <span class="text-2xl">Continue Exploring Our Work</span>
        {{ partial:components/buttons/primary-button label="Lets talk" }}
    </div>

    <div class="flex justify-center items-center flex-col mt-[100px] gap-12">
        <div class="flex flex-col justify-center items-center gsap-fade-in">
            <h1 class="text-[120px] h-[150px] font-semibold">Creative</h1>
            <h1 class="text-[120px] h-[150px] font-semibold">Design Agency</h1>
        </div>
        <div class="flex flex-col gsap-fade-in">
            <p class="text-xl font-medium max-w-xl text-center text-gray-500">I am passionate about</p>
            <p class="text-xl font-medium max-w-xl text-center text-gray-500">Creating memorable experience</p>
        </div>
    </div>
</section>