{{ partial:components/section/hero-section
heading="Criztian"
subtitle="Transforming ideas into exceptional digital experiences"
show_recent_project="true"
}}

<section id="projects-section" class="bg-white p-4">
    <div class="h-[500px] flex gap-4">
        {{ collection:projects :where="slug:not_in:project" limit="3" sort="date:desc" show_future="true" }}
        <div
            class="project-item relative overflow-hidden cursor-pointer {{ if index == 0 }}flex-[2] order-2{{ elseif index == 1 }}flex-1 order-1{{ else }}flex-1 order-3{{ /if }}">
            <div class="overflow-hidden w-full h-full rounded-md">
                <img src="{{ thumbnail:0:url }}" alt="{{ title }}" class="w-full h-full object-cover object-center" />
            </div>
            <h2
                class="project-title absolute bottom-4 left-4 text-lg pointer-events-none bg-gray-100 px-4 py-2 rounded-md">
                {{
                title }} - {{ date }}</h2>
        </div>
        {{ /collection:projects }}
    </div>
</section>

<section id="recognition-section" class="flex flex-col gap-4 bg-white justify-center items-center h-screen">
    <span id="recognition-title" class="text-2xl">Achievements & Recognition</span>
    <div id="recognition-text-container" class="flex flex-col items-center text-center">
        <span class=" text-[84px] leading-[1.2] font-medium">Throughout my</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">journey</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">I've been</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">privileged to</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">earn these</span>
        <span class="recognition-line text-[84px] leading-[1.2] font-medium">recognitions</span>
    </div>
</section>

<section id="awards-section">
    <div class="award-row flex justify-between items-center px-8 py-6 border-t border-b">
        <a href="https://devpost.com/software/dumpet">Bolt.new</a>
        <span>Top 23 Entry Bolt Hackton</span>
        <span>2024</span>
    </div>
    <div class="award-row flex justify-between items-center px-8 py-6 border-b">
        <a href="https://devpost.com/software/dumpet">Arweave Bounty Hackton</a>
        <span>Won Bounty Arweave Hackton | Everlink</span>
        <span>2024</span>
    </div>
    <div class="award-row flex justify-between items-center px-8 py-6 border-b">
        <a href="https://devpost.com/software/dumpet">Arweave Hackton</a>
        <span>Won Arweave Hackton | Dumpet</span>
        <span>2024</span>
    </div>
    <div class="award-row flex justify-between items-center px-8 py-6  border-b">
        <span>DEBESMSCAT</span>
        <span>Best in Software</span>
        <span>2023</span>
    </div>
</section>

<section id="services-section" class="flex flex-col gap-4 bg-white justify-center items-center h-screen">
    <span class="text-2xl">You need it ? I do it</span>
    <div class="flex flex-col items-center text-center gap-4">
        <span class="service-line text-[84px] leading-[1.2] font-medium cursor-pointer">Web Design</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium cursor-pointer">Web Apps</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium cursor-pointer">Mobile Apps</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium cursor-pointer">Desktop Apps</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium cursor-pointer">Games 2D/3D</span>
        <span class="service-line text-[84px] leading-[1.2] font-medium cursor-pointer">Block chain</span>
    </div>
</section>

<section class="h-screen justify-center items-center flex bg-white flex-col">
    <div class="flex justify-center items-center flex-col gap-4 gsap-fade-in">
        <span class="text-2xl">Explore More of My Work</span>
        {{ partial:components/buttons/primary-button label="Lets talk" }}
    </div>

    <div class="flex justify-center items-center flex-col mt-[100px] gap-12">
        <div class="flex flex-col justify-center items-center gsap-fade-in">
            <h1 class="text-[120px] h-[150px] font-semibold cursor-default" data-decrypt>Innovative</h1>
            <h1 class="text-[120px] h-[150px] font-semibold" data-decrypt>Developer</h1>
        </div>
        <div class="flex flex-col gsap-fade-in">
            <p class="text-xl font-medium max-w-xl text-center text-gray-500" data-decrypt>I'm driven by the desire to</p>
            <p class="text-xl font-medium max-w-xl text-center text-gray-500" data-decrypt>craft exceptional digital experiences
            </p>
        </div>
    </div>
</section>