<section class="h-[91vh] flex justify-between items-center flex-col">
    <div></div>
    <div class="flex justify-center items-center flex-col max-w-[1200px]">
        <h1 id="hero-title" class="
            {{ if fontSize }}text-[{{ fontSize }}]{{ else }}text-[200px]{{ /if }}
            font-semibold text-center  {{ segment_1 == 'contact' ? 'text-white' : 'text-black' }}">

            {{ heading || 'Default Heading' }}
        </h1>
        <div class="flex flex-col">
            {{ if subtitle }}
            <p id="hero-subtitle"
                class="text-2xl font-medium max-w-[700px] text-center {{ segment_1 == 'contact' ? 'text-gray-400' : 'text-gray-500' }}">
                {{ subtitle }}
            </p>
            {{ /if }}
        </div>
    </div>

    <div id="hero-bottom"
        class="flex justify-between items-center w-full p-4 {{ segment_1 == 'contact' ? 'text-white' : 'text-black' }}">
        <span>Scroll to Explore</span>
        <span>Featured Project</span>
    </div>
</section>