<section class="h-[91vh] flex justify-between items-center flex-col px-4">
    <div></div>
    <div class="flex justify-center items-center flex-col max-w-[1200px] w-full">
        <h1 id="hero-title" class="
            {{ if fontSize }}text-[{{ fontSize }}]{{ else }}text-[clamp(4rem,20vw,12.5rem)]{{ /if }}
            font-semibold text-center {{ segment_1 == 'contact' ? 'text-white' : 'text-black' }}">

            {{ heading || 'Default Heading' }}
        </h1>
        <div class="flex flex-col w-full px-4">
            {{ if subtitle }}
            <p id="hero-subtitle"
                class="text-base sm:text-lg md:text-xl lg:text-2xl font-medium max-w-[700px] mx-auto text-center {{ segment_1 == 'contact' ? 'text-gray-400' : 'text-gray-500' }}">
                {{ subtitle }}
            </p>
            {{ /if }}
        </div>
    </div>

    <div id="hero-bottom"
        class="flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0 w-full p-4 text-sm sm:text-base {{ segment_1 == 'contact' ? 'text-white' : 'text-black' }} max-w-7xl">
        <span class="hidden sm:block">Scroll to Explore</span>
        <span>Featured Project</span>
    </div>
</section>